<div class="ui-g-12" id="createScreen">
    <div class="card ">
        <p-tabView (onChange)="onTabChange($event)">
            <p-tabPanel header="{{'Create' | translate}}" leftIcon="ui-icon-edit" [selected]="selectedTab === 0" *ngIf="showcreate" id="createTab">
                <form [formGroup]="form" (ngSubmit)="onsubmit()">
                    <br>
                    <div class="ui-g ui-sm">
                        <div class="ui-g-12 ui-lg-1 ui-sm-1"></div>
                        <div class=" ui-g-12 ui-lg-10 ui-sm-12">
                            <div class="ui-lg ui-sm form-group">
                                <div class=" ui-lg-1 ui-sm-12 ui-g-12">
                                    <label>{{'Subject' | translate}}</label>
                                </div>
                                <div class=" ui-lg-11 ui-sm-12 ui-g-12">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <input type="text" class="md-inputfield" placeholder="{{'Subject' | translate}}" formControlName="subject" pInputText />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" ui-lg ui-sm" *ngIf="this.showDoc === true">
                                <div class="ui-g-12 ui-lg-12 ui-sm-12 toDoLeft">
                                    <div class="ui-lg-1 ui-sm-12 ui-g-12">
                                        <label>{{'To do' | translate}}</label>
                                    </div>
                                </div>
                                <div class="ui-lg ui-sm">
                                    <div class=" ui-sm-12 ui-lg-12 ui-g-12 border showRemove" *ngFor="let item of activitytype.docTypes">
                                        <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad">
                                            <div class="ui-g-1 ui-lg-1 ui-sm-2 ui-g-nopad">
                                                <span *ngIf="item.type === 'DOCUMENT'">
                                                            <img src="assets\images\Docs-icon.png" class="topPad left" height="25px" width="25px">
                                                </span>
                                                <span *ngIf="converToUppercase(item.type) === 'FORM'">
                                                            <img src="assets\images\forms.png" class="topPad left" height="25px" width="25px">
                                                </span>
                                            </div>
                                            <div class=" ui-g-6 ui-lg-6 ui-sm-5 showRemove">{{item.name | translate}}<sup class="redstar" *ngIf="(item.req === 1 &&  item.name !== 'Attachment') || (item.name === 'Attachment' && item.req === 1 &&  attachDocNonMandetory === false)">*</sup></div>
                                            <div class=" ui-g-5 ui-lg-5 ui-sm-5 ui-g-nopad" *ngIf="converToUppercase(item.type) === 'FORM'">
                                                <div class="ui-lg ui-sm">
                                                    <div class=" ui-g-10 ui-lg-10 ui-sm-10">
                                                        <a class="colorblue pointer" (click)="documentForm(item)"> <u>{{item.name | translate}}</u> </a>
                                                    </div>
                                                    <div class=" ui-g-1 ui-lg-1 ui-sm-2 " *ngIf="item.showgreentich === true">
                                                        <i class="material-icons green">check_circle</i>
                                                    </div>
                                                    <div class=" ui-g-1 ui-lg-1 ui-sm-2 " *ngIf="item.showadd === true && showaddlabel === '1'">
                                                        <i class="material-icons green pointer" (click)="add(item, 'temp')">add_circle</i>
                                                    </div>
                                                    <div class=" ui-g-1 ui-lg-1 ui-sm-2" *ngIf="item.showdelete === true">
                                                        <i class="material-icons times pointer" (click)="addeddelete(item)">cancel</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" ui-g-5 ui-lg-5 ui-sm-5 ui-g-nopad attchLeft showRemove" *ngIf="item.type === 'DOCUMENT'">
                                                <div class=" ui-g-5 ui-sm-12 ui-lg-12 ui-g-nopad removeClass">

                                                    <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">
                                                        <button pButton type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 0" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">
                                                        <input type="file"  ng2FileSelect [uploader]="globelFileUploder" (click)="tempObject(item.id , item.name)" class="upload"  (change)="inputfileChanged(item.id, item.docClass)">
                                                        </button>
                                                        <button pButton type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 1" (click)="showClassProp(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">
                                                                </button>

                                                    </div>
                                                    <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">

                                                        <button pButton type="button" icon="ui-icon-collections" (click)="getRecent();tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Repository' | translate}}" class="pointer">
                                                        </button>
                                                        <!-- <i class="fa fa-database pointer iocnSize attachIconsfor" style="font-size: 17px" ngbTooltip="Repository" aria-hidden="true"></i> -->
                                                    </div>

                                                    <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">
                                                        <button pButton type="button" icon="ui-icon-print" *ngIf="item.showClass === 0" (click)="scanImage(item.id, item.docClass);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer"></button>
                                                        <button pButton type="button" icon="ui-icon-print" *ngIf="item.showClass === 1" (click)="showClassPropScan(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer">
                                                        </button>
                                                        <!-- <i class="fa fa-print pointer iocnSize attachIconsfor" style="font-size: 17px" ngbTooltip="Scan Document" (click)="scanImage(item.id , hashTwainModel);tempObject(item.id , item.name)" aria-hidden="true"></i> -->
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="ui-g-12 ui-sm-12 ui-lg-12 " *ngIf="tempAttachments.length > 0 && converToUppercase(item.type) !== 'FORM'">
                                                <table>
                                                    <tbody>
                                                        <!-- {{tempAttachments[0].docTitle}} -->
                                                        <tr class="showRemove" *ngFor="let fileObject of tempAttachments">
                                                            <td width="90% ;word-break: break-all;" style="word-break: break-all;" *ngIf="parseInt(fileObject.docType.id) === item.id">
                                                                {{fileObject.docTitle}}
                                                            </td>
                                                            <td class="text-center removeClass" width="10% " *ngIf="parseInt(fileObject.docType.id) === item.id">
                                                                <button pButton="pButton" type="button" icon="fa-close" (click)="removeAttachments(fileObject)"></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ui-lg ui-sm buttonStrip">
                                <div class=" ui-g-4 ui-lg-4 ui-sm-3"></div>
                                <div class=" ui-g-2 ui-lg-2  ui-sm-2">
                                    <button pButton type="submit" label="{{'Create' |  translate}}" icon="ui-icon-create" class="wrapperCenter"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel leftIcon="ui-icon-save" [selected]="selectedTab === 1" [header]="createformtitle | translate" id="createformTab" *ngIf="createformtabshow === true || showform === true">
                <app-dynamic-form [dynamicFormJSON]="formObject" [createformtitle]="createformtitle" [activitytype]="activitytype" (formJSONOutput)="formDynamicSubmit($event)" (tempAttachmentsArray)="tempAttachmentsResult($event)" [activitytypeName]="'CREATE'" (formCancel)="cancelForm($event)"></app-dynamic-form>
            </p-tabPanel>

            <p-tabPanel leftIcon="ui-icon-attach-file" [selected]="selectedTab === 2" [header]="'Attachments' | translate" id="attachfilesTab" *ngIf="attachfilestabshow === true">
                <p-tabView>
                    <p-tabPanel header="Recent Documents" leftIcon="ui-icon-check">
                        <div style="max-height: 400px;overflow-y: scroll">
                            <app-recent-documents [sysDate]="systemDate" (fileList)="documentSearchList($event)"></app-recent-documents>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Repository Documents" leftIcon="ui-icon-check">
                        <app-document-search (fileList)="documentSearchList($event)"></app-document-search>
                    </p-tabPanel>
                </p-tabView>
                <div class="ui-md ui-sm">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12  text-center ui-md ui-sm">
                        <div class="ui-g-12 ui-lg ui-sm text-center">
                            <div class="ui-lg-4 ui-g-12 ui-sm-4"></div>
                            <div class="ui-lg-3  ui-g-12 ui-sm-3">
                                <button type="button" pButton="pButton" icon="fa-close" (click)="attachfilestabshow=false;selectedTab = 0; changeDetectRef.detectChanges();documentsSelected = []" label="{{'Close' | translate }}"></button>
                            </div>
                            <div class="ui-lg-3  ui-g-12 ui-sm-3">
                                <button *ngIf="documentsSelected.length >= 1" type="button" pButton="pButton" icon="ui-icon-attach-file" (click)="attachRepDoc(); attachfilestabshow=false;selectedTab = 0; changeDetectRef.detectChanges()" label="{{'Attach' | translate }}"></button>
                            </div>
                            <div class="ui-lg-2  ui-g-12 ui-sm-2">
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<ngx-smart-modal #hashTwainModel identifier="hashTwainModel" (onClose)="websocketNotOpen = false">
    <h3>{{ 'Hash Twain' | translate }}</h3>
    <p> We request you to download Hash Twain Software,
        <a href="assets/HashTwain/HashTwain Setup.msi "> Click here to download</a></p>
</ngx-smart-modal>

<ngx-smart-modal #documentAddWithProps identifier="documentAddWithProps">
    <h3>{{ 'Add Document' | translate }}</h3>
    <div class=" ui-g-12 ui-md-12 ui-sm-12">
        <form [formGroup]="documentAdd" (ngSubmit)="documentSubmit($event)">
            <div class="ui-g">
                <div id="docClass" class="ui-g-4 ui-md-4 ui-sm-12">{{ 'DocClass' | translate}} </div>
                <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                    {{docClassName}}</div>
            </div>
            <br>
            <input #addDocument type="file" name="fileupload" (change)="fileChanegd($event)">
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" [value]="attachmentfileName" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" [options]="classProp.lookups" [autoWidth]="false" placeholder="Select {{classProp.symName}}"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button pButton type="button" label="{{'Clear' | translate }}" (click)="documentAdd.reset()"></button>
                    <button pButton type="submit" [disabled]="!documentAdd.valid" label="{{'Add' | translate }}"></button>

                </div>
            </p-footer>
        </form>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #documentAddScanWithProps identifier="documentAddScanWithProps">
    <h3>{{ 'Add Document' | translate }}</h3>
    <div class=" ui-g-12 ui-md-12 ui-sm-12">
        <form [formGroup]="documentAdd" (ngSubmit)="documentSubmit($event)">
            <div class="ui-g">
                <div id="docClass" class="ui-g-4 ui-md-4 ui-sm-12">{{ 'DocClass' | translate}} </div>
                <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                    {{docClassName}}</div>
                <button pButton type="button" icon="ui-icon-print" (click)="scanImageWithProp();" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}"></button>
            </div>
            <br>
            <!-- <input #addDocument type="file" name="fileupload" (change)="fileChanegd($event)"> -->
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" [value]="attachmentfileName" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" [options]="classProp.lookups" [autoWidth]="false" placeholder="Select {{classProp.symName}}"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button pButton type="button" label="{{'Clear' | translate }}" (click)="documentAdd.reset()"></button>
                    <button pButton type="submit" [disabled]="!documentAdd.valid" label="{{'Add' | translate }}"></button>
                </div>
            </p-footer>
        </form>
    </div>
</ngx-smart-modal>