.ui-inputtext {
    width: 100% !important;
}

.listSearchWidth {
    width: 300px;
}

.toggleWidth {
    margin-top: 7px;
}

.pointer {
    cursor: pointer;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu>li.profile-item>a .profile-image-wrapper img {
    width: 30px !important;
    height: 30px !important;
}

.searchCss {
    background: linear-gradient(to right, #ffffff, #e2e2e2);
}

.searchIcon {
    color: black
}