<div class="layout-topbar">

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="material-icons">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="material-icons">&#xE853;</i>
    </a>
    <div class="layout-topbar-menu-wrapper">
        <ul style="float: right" class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}" (click)="app.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}" (click)="app.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                    <img src="assets/images/userImage.png"/>
                    </span>
                    <span class="topbar-item-name profile-name">{{currentUser.fulName}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a (click)="settings()" class="pointer">
                            <i class="material-icons">settings_application</i>
                            <span>{{'Settings' | translate }}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a (click)="logOutUser()" class="pointer">
                            <i class="material-icons">exit_to_app</i>
                            <span>{{'Logout' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>



        </ul>
    </div>
</div>