<div class="ui-g ui-g-12">
    <div class="ui-g-12 card minHeight">
        <div class="ui-g-12 ui-g-nopad border-bottom">
            <div class="ui-g-1"></div>
            <div class="ui-g-7 ">
                <b>Name</b>
            </div>
            <div class="ui-g-2 ">
                <b>Size</b>
            </div>
            <div class="ui-g-1 ">
                <b>Version</b>
            </div>
            <div class="ui-g-1 ">

            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad" *ngIf="recentItems">
            <div class="ui-g-12 ui-g-nopad border-bottom" *ngFor="let recent of recentItems">
                <div class="ui-g-1">
                    <div *ngIf="recent.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px"></div>
                    <div *ngIf="recent.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px"></div>
                    <div *ngIf="recent.format !== 'application/pdf' && recent.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px"></div>
                </div>
                <div class="ui-g-7 ">
                    <div class="breakWord">{{recent.docTitle}}</div>
                </div>
                <div class="ui-g-2 ">
                    <div class="breakWord">
                        <span *ngIf="((recent.size / 1024).toFixed(0)) > '1'">{{(recent.size / 1024).toFixed(0)}} KB</span>
                        <span *ngIf="((recent.size / 1024).toFixed(0)) === '0' || ((recent.size / 1024).toFixed(0)) === '1'"> 1 KB</span>
                    </div>
                </div>
                <div class="ui-g-1 ">
                    <div>{{recent.verNo}}</div>
                </div>
                <div class="ui-g-1 ui-g-nopad">
                    <button pButton type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download' | translate}}" class="pointer" (click)="download(recent.id)">
                      </button>
                </div>
            </div>
        </div>

    </div>
</div>