<div id="adminLayout" class="layout-wrapper layout-rtl" (click)="onWrapperClick()" [ngClass]="{'layout-wrapper-static': layoutStatic,
                'layout-wrapper-active': mobileMenuActive,
                'layout-rtl': isRTL}">
    <app-menu-items [inboxBadgeCounted]="inboxBadgeCounted" [draftsBageCounted]="draftsBadgeCounted" [selectedId]="selected"></app-menu-items>
    <div class="layout-main">
        <app-topbar></app-topbar>
        <app-breadcrumb [ngClass]="show ? 'displayTrue' : 'displayFalse'"></app-breadcrumb>
        <div class="layout-content" [dir]="dirType">
            <router-outlet></router-outlet>
            <ng4-loading-spinner [zIndex]="999999999999" [timeout]="99000"> </ng4-loading-spinner>
        </div>
        <!-- <app-footer></app-footer> -->
        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>
</div>