.backgroundWhite {
    background: white;
}

.cardHeight {
    height: 280px;
    max-height: 280px;
    overflow: hidden;
    /* width: 98.5% */
}

.text-center {
    text-align: center;
}

.ui-inputtext {
    width: 100% !important;
    color: #fff !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    /* opacity:  1; */
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 0.7;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #fff;
    opacity: 0.7;
}

.compelete-row {
    background-color: #b31616 !important;
}

.active-row {
    background: #fffafa !important;
}

.underline {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    /* padding: 0;
    padding-top: 3px;
    padding-bottom: 3px; */
}

.underline:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
}

.header {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    color: #246275;
    font-weight: bold;
    height: 39px;
    overflow: hidden;
}

.iconMorebtn {
    margin-top: -5px;
}

.inboxUnderLine {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc
}

.refNoPadding {
    padding-bottom: 7.5px !important;
}

.breakWord {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.minHeight {
    min-height: 300px;
    max-height: 300px;
}

.textRight {
    text-align: right;
}

.btnValue {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.docBorder {
    border-bottom: 1px solid #ccc;
}