.alignlabel {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

td,
th {
    border-bottom: 1px solid #ECECEC;
    text-align: left;
    padding: 7px;
}

tr:hover {
    box-shadow: 1px 2px 5px 1px #ccc;
}

table {
    width: 100%;
}

input.upload {
    position: absolute;
    z-index: 9999999999999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
}


/* .ui-button.ui-button-icon-only,
body .ui-datepicker-buttonpane>button.ui-button-icon-only {
    width: 2.0em !important;
    height: 2.0em !important;
} */

.margrin {
    margin-left: 1%;
    margin-top: 10px;
}

.margin_Between_Rows {
    margin-top: 10px;
}

.input_Style {
    width: 212px;
    height: 39px;
    border-radius: 3px;
    border: 0.5px solid #ccc;
}

.bg_Color {
    background: #246275;
    border-color: #246275;
    color: #fff;
    text-transform: uppercase;
}

.user_Search_Input {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 95%;
}

.card_Property {
    box-shadow: 3px 3px 3px #ddd;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.result_Style>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.result_Style>ul>li:hover {
    background: #246275;
    color: #fff;
}

.result_Style>ul>li {
    cursor: pointer;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 4px;
    font-size: 16px;
    transition: 0.2s all ease-in-out
}

.select_User {
    height: 230px;
    background: #f5f5f5;
    box-shadow: 3px 3px 3px #ddd;
}

.edit_Icon_Style {
    font-size: 20px;
    margin: 9%
}

.bot {
    margin-bottom: 0px;
}

.height {
    min-height: 70vh;
}

.text-color {
    color: #246275;
}

.pointer {
    cursor: pointer;
}

.font-weight {
    margin-left: 10px;
}

.canvasBorder {
    border: 1px solid #ddd;
}

.existedSignature {
    border: 1px solid #ccc;
}

.gap {
    margin-top: 7px;
}

.heading {
    font-weight: bold;
}


/* .modal-title {
    color: #246275;
} */