<div class=" ui-g">
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <p-tabView>
            <p-tabPanel header="{{'User Profile' | translate }}" leftIcon="ui-icon-person" *ngIf="us.getCurrentUser().userLogin !== 'Admin' || us.getCurrentUser().userLogin !== 'admin'">
                <form [formGroup]="passwordform" (ngSubmit)="passwordFormSubmit()">
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'Old Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="oldpassword" name="oldpassword" placeholder="{{'Enter your old password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'New Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="newpassword" name="oldpassword" placeholder="{{'Enter your new password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="themeArray" [(ngModel)]="selectedColor" [autoWidth]="false" (onChange)="colorChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'Confirm Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="confirmpassword" name="confirmpassword" placeholder="{{'Re-enter your new password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="themeArray" [(ngModel)]="selectedColor" [autoWidth]="false" (onChange)="colorChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">

                            </div>
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">
                                <div class=" ui-g-4 ui-lg-4 ui-sm-4">
                                    <button pButton type="submit" class="pointer" label="Change" [disabled]="!passwordform.valid"></button></div>
                            </div>
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">

                            </div>
                        </div>
                    </div>
                </form>
            </p-tabPanel>

        </p-tabView>
    </div>
</div>