<div class="ui-g-12">
    <p-tabView>

        <!-- <p-tabPanel header="{{ 'Work Flow' | translate }}" leftIcon="ui-icon-person" [selected]="selectedTab === 1"> -->
        <p-accordion [activeIndex]="correspondenceindex">
            <p-accordionTab header="{{ 'Search' | translate }}" (click)="paccordianLCicked()" [selected]="correspondenceindex === 0">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-10 ui-md-10 ui-sm-12">
                            <form [formGroup]="workTypeSearch" (ngSubmit)="workTypeSubmit($event)">

                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-2 ui-md-2 ui-sm-12"></div>
                                    <div class="ui-g-2 ui-md-2 ui-sm-12 form-group  ">
                                        <label>Subject</label>
                                    </div>
                                    <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  ">
                                        <input id="subjectId" formControlName="subject" class="ui-g-12" pInputText type="text" placeholder="Enter Subject" style="background: #fff">
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-2 ui-md-2 ui-sm-12"></div>
                                    <div class="ui-g-2 ui-md-2 ui-sm-12 form-group  ">
                                        <label>Ref. No</label>
                                    </div>
                                    <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  ">
                                        <input id="refId" formControlName="refNo" class="ui-g-12" pInputText type="text" placeholder="Enter Ref. No" style="background: #fff">
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4 ui-md-4 ui-sm-12"></div>
                                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                                        <button pButton class="width" type="button" label="Clear" (click)="resetWorkType()"></button>
                                        <!-- <input type="button" value="CLEAR" (click)="resetDocument(documentsearch)"> -->
                                    </div>
                                    <div class="ui-g-3 ui-md-3 ui-sm-12">
                                        <button pButton class="width" type="submit" label="Search"></button>

                                        <!-- <button type="submit">SEARCH</button> -->
                                    </div>
                                    <div class="ui-g-3 ui-md-3 ui-md-12"></div>
                                </div>
                            </form>
                        </div>

                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab class="dashboard" header="{{ 'Search results' | translate }}">
                <div *ngIf="workSearchResultDiv">{{'No Results Are Found' | translate }}</div>
                <div *ngIf="!workSearchResultDiv">
                    <nav class="card global-sales">
                        <table>
                            <thead>
                                <tr>
                                    <th width="20%">
                                        Ref no.
                                    </th>
                                    <th width="30%">
                                        Subject
                                    </th>
                                    <th width="10%">
                                        Status
                                    </th>
                                    <th width="20%">
                                        Created By
                                    </th>
                                    <th width="20%">
                                        Created on
                                    </th>
                                    <!-- <th width="5%"></th>
                                    <th width="5%"></th> -->
                                </tr>
                            </thead>
                            <tbody *ngFor="let work of listOfTaskActivities">
                                <tr>
                                    <td class="  pointer" (click)="history(work)">
                                        {{work.refNo}}
                                    </td>
                                    <td class=" pointer" (click)="history(work)">
                                        {{work.subject}}
                                    </td>
                                    <td class="pointer" (click)="history(work)">
                                        {{work.status}}
                                    </td>
                                    <td class="pointer" (click)="history(work)">
                                        {{work.createdUserName}}
                                    </td>
                                    <td class="pointer" (click)="history(work)">
                                        {{work.createdOn}}
                                    </td>
                                    <!-- <td>
                                        <button pButton class="ui-g-nopad" *ngIf="work.primaryDoc" (click)="download(work)" type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download' | translate}}">
                                              </button>
                                    </td>
                                    <td>
                                        <button pButton class="ui-g-nopad" *ngIf="work.primaryDoc" (click)="attachment(work)" type="button" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attachments' | translate}}">
                                              </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </nav>
                </div>
            </p-accordionTab>
        </p-accordion>

    </p-tabView>
</div>

<ngx-smart-modal #attachmentModel identifier="attachmentModel">
    <h3>{{'Attachment' | translate }}</h3>
    <div class="dashboard" style="max-height: 400px; overflow-y: auto">
        <div class="global-sales">
            <table>
                <thead>
                    <tr>
                        <th width="35%">
                            document Title
                        </th>
                        <th width="25%">
                            DocType Name
                        </th>
                        <th width="15%">
                            Type
                        </th>
                        <th width="15%">
                            Format
                        </th>
                        <th width="5%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of attachmentres">
                        <td width="35%">
                            {{history.docTitle}}
                        </td>
                        <td width="25%">
                            {{history.docType.name}}
                        </td>
                        <td width="15%">
                            {{history.docType.type}}
                        </td>
                        <td width="15%">
                            {{history.format}}
                        </td>
                        <td width="5%">
                            <button type="button" pButton icon="ui-icon-file-download" (click)="download(history.docId)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</ngx-smart-modal>
<ngx-smart-modal #historyAlert identifier="historyAlert" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder margin0">History</h4>
    </div>
    <div class="modal-body top10">
        <div class="ui-g-12 ui-g-nopad borderBellow" *ngIf="historyItems.length > 0">
            <div class="ui-g-2 ui-g-nopad">
                <b>{{ 'Activity Type' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action by' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action On' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Pending with' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b>  {{ 'Description' | translate }}</b>
            </div>
        </div>
        <div class="" *ngIf="historyItems.length === 0">
            <b>  No data avaliable </b>
        </div>
        <div class="" *ngIf="historyItems.length > 0">
            <div class=" ui-g ui-g-12 ui-g-nopadd underline pointer" *ngFor="let service of historyItems">
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.activityType}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.userName}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.action}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.actionOn}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.pendingWith}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.details}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-10 ui-g-nopad"></div>
            <div class="ui-g-2 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="historyAlert.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">Close</span>
                </button>
                <!-- <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="historyAlert.close();">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button> -->
            </div>
        </div>
    </div>
</ngx-smart-modal>