<form [formGroup]="dynamicform" (ngSubmit)="formDynamicSubmit($event)" *ngIf="dynamicFormJSON.length > 0">
    <div class="ui-g" *ngFor="let item of formObject;let ind = index">
        <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad" *ngFor="let section of item.sections;let i = index">
            <div *ngIf="section.visible === 'TRUE' || section.visible === undefined">
                <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c6-5" *ngIf="section.showHeader === 'TRUE'">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad">
                        <div class=" ui-g-12 ui-lg-5 ui-sm-2 "></div>
                        <div class=" ui-g-12 ui-lg-7 ui-sm-10 ">
                            {{section.heading | translate}}
                        </div>
                    </div>
                </div>
                <!-- localStorage.getItem('Default Language') === 'ar' -->
                <div class="ui-g ui-lg-12 ui-sm-12 ui-g-nopad" *ngIf="converToUppercase(section.type) === 'FORM' && !isRtl">
                    <div [class]="section.columns.length === 2 ?'ui-g-6 ui-lg-6 ui-sm-6' : section.columns.length === 3 ? 'ui-g-4 ui-lg-4 ui-sm-4' : 'ui-g-12 ui-lg-12 ui-sm-12'" *ngFor="let columns of section.columns;let j = index">
                        <div class="ui-g-12 ui-g-nopad" *ngFor="let prop of columns.properties;let k = index">
                            <div [class]="(columns.width === '100%' || columns.width === undefined) ? '': columns.width === '80%' ? 'ui-g-1 ui-lg-1 ui-sm-1': columns.width === '60%' ? 'ui-g-2 ui-lg-2 ui-sm-2': 'ui-g-3 ui-lg-3 ui-sm-3'"></div>
                            <div [class]="(columns.width === '100%' || columns.width === undefined) ? 'ui-g-12 ui-lg-12 ui-sm-12': columns.width === '80%' ? 'ui-g-10 ui-lg-10 ui-sm-10': columns.width === '60%' ? 'ui-g-8 ui-lg-8 ui-sm-8': 'ui-g-6 ui-lg-6 ui-sm-6'">
                                <div *ngIf="prop.visible === 'TRUE' || prop.visible === undefined ">
                                    <div [class]="section.columns.length > 1? '' : 'ui-lg-1  ui-g-12'"></div>
                                    <div [class]="section.columns.length === 1?'ui-lg-5 ui-sm-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-g-6'" *ngIf="prop.uitype.uitype !== 'CHECKBOX'">
                                        <label *ngIf="prop.uitype.uitype !== 'ROWDATEDIFF'">{{prop.label | translate}}<sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                                        <label *ngIf="prop.uitype.uitype === 'ROWDATEDIFF'">{{prop.label | translate}}(Days) <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                                    </div>
                                    <div [class]="section.columns.length === 1 ? 'ui-lg-5 ui-sm-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-g-6'" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                                        <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length > 0" [disabled]="dynamicform.controls[prop.name].disabled === true ? true : false" [(ngModel)]="prop.value[0].value" [ngModelOptions]="{standalone: true}" binary="true" [style]="{'float': 'right'}"></p-checkbox>
                                        <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length === 0" [formControlName]="prop.name" [style]="{'float': 'right'}"></p-checkbox>
                                    </div>
                                    <div [class]="section.columns.length === 1?'ui-lg-5 ui-sm-5 ui-md-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-md-6 ui-g-6 '">
                                        <input type="text" (mouseover)="focusElement($event)" *ngIf="prop.uitype.uitype === 'TEXT' " (input)="actionAutoFill($event, prop)" [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="text" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop)" (focusout)="focusOutFunction($event , prop)" *ngIf="prop.uitype.uitype === 'TEXTAF' " [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="number" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop);calculateExpiryDate($event, prop)" [name]="prop.name" [id]="prop.name" [formControlName]="prop.name" *ngIf="prop.uitype.uitype === 'NUMBER' " (input)="eventCalculateForForms($event, section, columns, prop, ind, i,j, k)"
                                            placeholder="{{'Enter' | translate}} {{prop.label | translate}}" class="form-control" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="number" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop)" *ngIf="prop.uitype.uitype === 'ROWDATEDIFF' || prop.uitype.uitype === 'ROWSUM' || prop.uitype.uitype === 'ROWSUB' || prop.uitype.uitype === 'MULTIPLICATION' || prop.uitype.uitype === 'ROWDIV' || prop.uitype.uitype === 'ROWAVG'"
                                            [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} " class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <div *ngIf="prop.uitype.uitype === 'TEXTAREA'">
                                            <textarea pInputTextarea type="text" (input)="actionAutoFill($event, prop)" (mouseover)="focusElement($event)" [id]="prop.name" [formControlName]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" rows="8" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                    </textarea>
                                            <!-- <quill-editor [id]="prop.name" [formControlName]="prop.name"></quill-editor> -->
                                            <!-- <p-editor theme="'Bubble'" [style]="{'height':'250px'}" [id]="prop.name" [formControlName]="prop.name"></p-editor> -->
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [id]="prop.name" (mouseover)="focusElement($event)" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATERANGE'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar dateRangeSelector [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" selectionMode="range" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                    <p-calendar dateRangeSelector [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" selectionMode="range" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <my-date-picker class="col-12" [id]="prop.name" *ngIf="prop.uitype.uitype === 'DATE' " [options]="myDatePickerOptions" [formControlName]="prop.name" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i,j, k); actuallFormat($event, i, j, k, 'ddmmyy', prop); calculateExpiryDate($event, prop);"></p-calendar>
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i, j, k);actuallFormat($event, i, j, k, 'mmddyy', prop); calculateExpiryDate($event, prop); "></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATETIME' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date Time" *ngIf="ddmmyy" [showTime]="true" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="dateAndTime($event, i, j, k, 'ddmmyy', prop)"></p-calendar>
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date Time" *ngIf="!ddmmyy" [showTime]="true" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="dateAndTime($event, i, j, k, 'mmddyy', prop)"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'ROWEXPIRYDATE' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <!-- dateFormat="dd/mm/yy" -->
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" pattern="MM/dd/yyyy HH:mm:ss a" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)=" actuallFormat($event, i, j, k, 'ddmmyy', prop)"></p-calendar>
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="actuallFormat($event, i, j, k, 'mmddyy', prop)"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUP'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUPCONDITION'">

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdownCondition($event,ind, i , j , k , prop)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DBLOOKUP'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" filter="true" placeholder="{{'Select' | translate}}" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'STEXTTA'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" searchtext (completeMethod)="onSearchAutoStextTA($event , prop.uitype.dblookup , i , j , k)" [multiple]="false" [id]="prop.name" [dropdown]="true"
                                                        [minLength]="3" placeholder="{{'Single Search' | translate}}" (onSelect)="selectSingle($event, ind, i , j, k)" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'MTEXTTA'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" (completeMethod)="onSearchAuto($event , prop.uitype.dblookup , i , j , k)" [multiple]="true" [id]="prop.name" [dropdown]="true" [minLength]="3"
                                                        placeholder="{{'Multiple Search' | translate }}" (onSelect)="selctedMultiple($event, ind, i , j , k);" (onUnselect)="unselectMultiple($event, ind, i , j , k)" immediate="true" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <label> <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup>{{prop.label | translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div [class]="(columns.width === '100%' || columns.width === undefined) ? '': columns.width === '80%' ? '': columns.width === '60%' ? 'ui-g-1 ui-lg-1 ui-sm-1': 'ui-g-2 ui-lg-2 ui-sm-2'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g ui-lg-12 ui-sm-12 ui-g-nopad" *ngIf="converToUppercase(section.type) === 'FORM' && isRtl">
                    <div [class]="section.columns.length === 2 ?'ui-g-6 ui-lg-6 ui-sm-6' : section.columns.length === 3 ? 'ui-g-4 ui-lg-4 ui-sm-4' : 'ui-g-12 ui-lg-12 ui-sm-12'" *ngFor="let columns of section.columns;let j = index">
                        <div class="ui-g-12 ui-g-nopad" *ngFor="let prop of columns.properties;let k = index">
                            <div [class]="(columns.width === '100%' || columns.width === undefined) ? '': columns.width === '80%' ? 'ui-g-1 ui-lg-1 ui-sm-1': columns.width === '60%' ? 'ui-g-2 ui-lg-2 ui-sm-2': 'ui-g-3 ui-lg-3 ui-sm-3'"></div>
                            <div [class]="(columns.width === '100%' || columns.width === undefined) ? 'ui-g-12 ui-lg-12 ui-sm-12': columns.width === '80%' ? 'ui-g-10 ui-lg-10 ui-sm-10': columns.width === '60%' ? 'ui-g-8 ui-lg-8 ui-sm-8': 'ui-g-6 ui-lg-6 ui-sm-6'">
                                <div *ngIf="prop.visible === 'TRUE' || prop.visible === undefined ">
                                    <div [class]="section.columns.length > 1? '' : 'ui-lg-1  ui-g-12'"></div>

                                    <div [class]="section.columns.length === 1 ? 'ui-lg-5 ui-sm-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-g-6'" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                                        <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length > 0" [disabled]="dynamicform.controls[prop.name].disabled === true ? true : false" [(ngModel)]="prop.value[0].value" [ngModelOptions]="{standalone: true}" binary="true" [style]="{'float': 'right'}"></p-checkbox>
                                        <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length === 0" [formControlName]="prop.name" [style]="{'float': 'right'}"></p-checkbox>
                                    </div>
                                    <div [class]="section.columns.length === 1?'ui-lg-5 ui-sm-5 ui-md-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-md-6 ui-g-6 '">
                                        <input type="text" (mouseover)="focusElement($event)" *ngIf="prop.uitype.uitype === 'TEXT' " (input)="actionAutoFill($event, prop)" [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="text" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop)" (focusout)="focusOutFunction($event , prop)" *ngIf="prop.uitype.uitype === 'TEXTAF' " [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="number" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop);calculateExpiryDate($event, prop)" [name]="prop.name" [id]="prop.name" [formControlName]="prop.name" *ngIf="prop.uitype.uitype === 'NUMBER' " (input)="eventCalculateForForms($event, section, columns, prop, ind, i,j, k)"
                                            placeholder="{{'Enter' | translate}} {{prop.label | translate}}" class="form-control" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <input type="number" (mouseover)="focusElement($event)" (input)="actionAutoFill($event, prop)" *ngIf="prop.uitype.uitype === 'ROWDATEDIFF' || prop.uitype.uitype === 'ROWSUM' || prop.uitype.uitype === 'ROWSUB' || prop.uitype.uitype === 'MULTIPLICATION' || prop.uitype.uitype === 'ROWDIV' || prop.uitype.uitype === 'ROWAVG'"
                                            [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} " class="md-inputfield" [attr.maxlength]="prop.length" pInputText [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                        <div *ngIf="prop.uitype.uitype === 'TEXTAREA'">
                                            <textarea pInputTextarea type="text" (input)="actionAutoFill($event, prop)" (mouseover)="focusElement($event)" [id]="prop.name" [formControlName]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" rows="8" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}">
                                    </textarea>
                                            <!-- <quill-editor [id]="prop.name" [formControlName]="prop.name"></quill-editor> -->
                                            <!-- <p-editor theme="'Bubble'" [style]="{'height':'250px'}" [id]="prop.name" [formControlName]="prop.name"></p-editor> -->
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [id]="prop.name" [showIcon]="false" (mouseover)="focusElement($event)" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATERANGE'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar dateRangeSelector [showIcon]="false" [name]="prop.name" (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i,j, k); actuallFormat($event, i, j, k, 'ddmmyy', prop); calculateExpiryDate($event, prop)" placeholder="Date" *ngIf="ddmmyy"
                                                        dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" selectionMode="range" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                    <p-calendar dateRangeSelector [showIcon]="false" [name]="prop.name" (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i,j, k); actuallFormat($event, i, j, k, 'mmddyy', prop); calculateExpiryDate($event, prop)" placeholder="Date" *ngIf="!ddmmyy"
                                                        dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" selectionMode="range" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <my-date-picker class="col-12" [id]="prop.name" *ngIf="prop.uitype.uitype === 'DATE' " [options]="myDatePickerOptions" [formControlName]="prop.name" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [showIcon]="false" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i,j, k);actuallFormat($event, i, j, k, 'ddmmyy', prop);calculateExpiryDate($event, prop)"></p-calendar>
                                                    <p-calendar [showIcon]="false" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="eventFormCalculated($event, section, columns, prop, ind, i, j, k);actuallFormat($event, i, j, k, 'mmddyy', prop);calculateExpiryDate($event, prop)"></p-calendar>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'ROWEXPIRYDATE' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)=" actuallFormat($event, i, j, k, 'ddmmyy', prop)"></p-calendar>
                                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"
                                                        (onSelect)="actuallFormat($event, i, j, k, 'mmddyy', prop)"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUP'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUPCONDITION'">

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdownCondition($event,ind, i , j , k , prop)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DBLOOKUP'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" filter="true" placeholder="{{'Select' | translate}}" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'STEXTTA'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" searchtext (completeMethod)="onSearchAutoStextTA($event , prop.uitype.dblookup , i , j , k)" [multiple]="false" [id]="prop.name" [dropdown]="true"
                                                        [minLength]="3" placeholder="{{'Single Search' | translate}}" (onSelect)="selectSingle($event, ind, i , j, k)" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'MTEXTTA'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" (completeMethod)="onSearchAuto($event , prop.uitype.dblookup , i , j , k)" [multiple]="true" [id]="prop.name" [dropdown]="true" [minLength]="3"
                                                        placeholder="{{'Multiple Search' | translate }}" (onSelect)="selctedMultiple($event, ind, i , j , k);" (onUnselect)="unselectMultiple($event, ind, i , j , k)" immediate="true" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[prop.name].hasError('required') && dynamicform.controls[prop.name].touched && dynamicform.controls[prop.name].invalid}"></p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <label> <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup>{{prop.label | translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div [class]="(columns.width === '100%' || columns.width === undefined) ? '': columns.width === '80%' ? '': columns.width === '60%' ? 'ui-g-1 ui-lg-1 ui-sm-1': 'ui-g-2 ui-lg-2 ui-sm-2'"></div>
                                </div>
                                <div [class]="section.columns.length === 1?'ui-lg-5 ui-sm-5 ui-g-5':'ui-lg-6 ui-sm-6 ui-g-6'" *ngIf="prop.uitype.uitype !== 'CHECKBOX'">
                                    <label *ngIf="prop.uitype.uitype !== 'ROWDATEDIFF'">{{prop.label | translate}} <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                                    <label *ngIf="prop.uitype.uitype === 'ROWDATEDIFF'">{{prop.label | translate}}(Days) <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g global-sales" *ngIf="converToUppercase(section.type) === 'TABLE'">
                    <table class="ui-g-12 ui-md-12">
                        <thead>
                            <tr style="border-top: 0px solid #dbdbdb">
                                <th [attr.width]="row.width" *ngFor="let row of section.rowheader">
                                    <label *ngIf="row.uitype.uitype !== 'ROWDATEDIFF'">{{row.label | translate}} <sup class="redstar" *ngIf="row.req === 'TRUE' ? true : false">*</sup></label>
                                    <label *ngIf="row.uitype.uitype === 'ROWDATEDIFF'">{{row.label | translate}} (Days) <sup class="redstar" *ngIf="row.req === 'TRUE' ? true : false">*</sup></label>
                                </th>
                                <th *ngIf="section.rOnly !== 'TRUE' && readOnly !== 'true'">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let row of section.rows ;let isLast = last;let pos = index; let isFirst = first">
                            <tr *ngIf="row.row !== (9090 + i)" style="border-top: 0px solid #dbdbdb">
                                <td *ngFor="let rowItem of row.items;let ind = index">
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'AUTONUMBER' " (input)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' )" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="text" *ngIf="rowItem.uitype.uitype === 'TEXT'" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'NUMBER' " (mouseover)="focusElement($event)" (input)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' )" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row"
                                        placeholder="{{'Enter' | translate}} {{rowItem.label | translate}}  " class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'ROWSUM' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'ROWAVG' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'MULTIPLICATION' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'ROWSUB' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'ROWDIV' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.uitype.uitype === 'ROWDATEDIFF' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                        class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.uitype.uitype === 'DATE' && !isRtl">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row" (onSelect)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' ); actuallFormatTable($event,row, rowItem, pos, ind, i, 'ddmmyy')"></p-calendar>
                                                <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row" (onSelect)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' ); actuallFormatTable($event,row, rowItem, pos, ind, i, 'mmddyy')"></p-calendar>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.uitype.uitype === 'DATE' && isRtl">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row" (onSelect)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' ); actuallFormatTable($event,row, rowItem, pos, ind, i, 'ddmmyy')"></p-calendar>
                                                <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row" (onSelect)="eventCalculated($event, row, rowItem, pos, ind, i, 'false' ); actuallFormatTable($event,row, rowItem, pos, ind, i, 'mmddyy')"></p-calendar>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.uitype.uitype ===  'LOOKUP'">
                                        <div class="ui-grid-row lookupSize">
                                            <div class="ui-grid-col-12">
                                                <p-dropdown [options]="rowItem.lookupOptions" [formControlName]="rowItem.name + row.row" [autoWidth]="false" [id]="rowItem.name+ row.row" [name]="rowItem.name+ row.row" (onChange)="dbLookupDropdownTable($event,pos,ind, section.heading); actionAutoFillLookup($event, rowItem)"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.uitype.uitype === 'DBLOOKUP'">
                                        <div class=" ui-grid-row lookupSize">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="rowItem.lookupOptions" [formControlName]="rowItem.name + row.row" [autoWidth]="false" [id]="rowItem.name+ row.row" [name]="rowItem.name+ row.row" filter="true" placeholder="{{'Select' | translate}}" (onChange)="dbLookupDropdownTable($event,pos,ind, section.heading )"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="rowItem.uitype.uitype === 'TEXTAREA'">
                                        <textarea pInputTextarea type="text" (input)="actionAutoFill($event, rowItem)" (mouseover)="focusElement($event)" [id]="rowItem.name + row.row" [formControlName]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}}"
                                            rows="1" [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[rowItem.name + row.row].hasError('required') && dynamicform.controls[rowItem.name + row.row].touched && dynamicform.controls[rowItem.name + row.row].invalid}">
                                </textarea>
                                        <!-- <quill-editor [id]="prop.name" [formControlName]="prop.name"></quill-editor> -->
                                        <!-- <p-editor theme="'Bubble'" [style]="{'height':'250px'}" [id]="prop.name" [formControlName]="prop.name"></p-editor> -->
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.uitype.uitype ===  'STEXTTA'">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-autoComplete [formControlName]="rowItem.name + row.row" [(ngModel)]="rowItem.dbDummyValue" field="name" [suggestions]="rowItem.dbValue" searchtext (completeMethod)="onSearchAutoStextTATable($event , rowItem.uitype.dblookup , i , pos , ind)" [multiple]="false"
                                                    [id]="rowItem.name + row.row" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}" (onSelect)="selectSingleTable($event, 0, i , pos, ind);actionAutoFillSTEXTTA($event, rowItem)"
                                                    [ngClass]="{'ng-dirty ng-invalid': dynamicform.controls[rowItem.name + row.row].hasError('required') && dynamicform.controls[rowItem.name + row.row].touched && dynamicform.controls[rowItem.name + row.row].invalid}"></p-autoComplete>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="section.rOnly !== 'TRUE' && readOnly !== 'true'">
                                    <!-- <button pButton type="button" *ngIf="!isLast" icon="fa-trash"></button> -->
                                    <!-- <div class="ui-g ui-g-12 ui-g-nopad" *ngIf="sectionsArray.length > 0">
                                        <div class="ui-g ui-g-12 ui-g-nopad" *ngFor="let sections of sectionsArray">
                                            <button pButton type="button" *ngIf="!isFirst && (sections === i && !isLast)" (click)="removeExistingTableRow(i, row, pos)" icon="ui-icon-remove"></button>
                                        </div>
                                    </div> -->
                                    <!-- <div class="ui-g u-g-12 ui-g-nopad" *ngIf="sectionsArray.length === 0"> -->
                                    <button pButton type="button" *ngIf="!isFirst" (click)="removeExistingTableRow(i, row, pos)" icon="ui-icon-remove"></button>
                                    <!-- </div> -->
                                    <!-- <div class="ui-g ui-g-12 ui-g-nopad"> -->
                                    <button pButton type="button" *ngIf="isFirst" (click)="addNewTableRow(i, 'row')" icon="fa-plus"></button>
                                    <!-- </div> -->
                                </td>
                            </tr>
                            <tr *ngIf="row.row === (9090 + i)" style="border-top: 0px solid #dbdbdb">
                                <td *ngFor="let rowItem of row.items;let ind = index">
                                    <input type="text" *ngIf="ind === 0" [formControlName]="rowItem.name + row.row" value="Total" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'AUTONUMBER' && ind !== 0 " [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="text" *ngIf="rowItem.type === 'TEXT' && ind !== 0 && rowItem.uitype.uitype !== 'LOOKUP' && rowItem.uitype.uitype !== 'DBLOOKUP' && rowItem.uitype.uitype !== 'TEXTAREA' && rowItem.uitype.uitype !== 'STEXTTA'" (mouseover)="focusElement($event)"
                                        [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'NUMBER' && ind !== 0" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield" [attr.maxlength]="rowItem.length"
                                        pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'ROWSUM' && ind !== 0 " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'ROWAVG' && ind !== 0" [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'MULTIPLICATION' && ind !== 0" [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'ROWSUB' && ind !== 0" [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'ROWDIV' && ind !== 0" [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <input type="number" *ngIf="rowItem.type === 'ROWDATEDIFF' && ind !== 0" [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield"
                                        [attr.maxlength]="rowItem.length" pInputText>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.type === 'DATE' && ind !== 0 && !isRtl">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="true" [formControlName]="rowItem.name + row.row" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>
                                                <p-calendar [showIcon]="true" [formControlName]="rowItem.name + row.row" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.type === 'DATE' && ind !== 0 && isRtl">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="false" [formControlName]="rowItem.name + row.row" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>
                                                <p-calendar [showIcon]="false" [formControlName]="rowItem.name + row.row" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="(rowItem.uitype.uitype ===  'LOOKUP'  || rowItem.uitype.uitype ===  'DBLOOKUP' || rowItem.uitype.uitype === 'TEXTAREA' || rowItem.uitype.uitype === 'STEXTTA') && ind !== 0">
                                        <!-- <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-dropdown [options]="rowItem.lookupOptions" [formControlName]="rowItem.name + row.row" [autoWidth]="false" [id]="rowItem.name+ row.row" [name]="rowItem.name+ row.row" (onChange)="dbLookupDropdownTable($event,pos,ind)"></p-dropdown>
                                            </div>
                                        </div> -->
                                        <input type="text" [formControlName]="rowItem.name + row.row" [value]="''" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- <tfoot *ngFor="let foot of sectionsArray; let footInd = index">
                            <tr *ngIf="foot === i">
                                <td *ngFor="let row of section.rows ;let posfoot = index; ">
                                    <span *ngFor="let rowItem of row.items;let footInd = index">
                                        <input type="number" *ngIf="rowItem.type === 'AUTONUMBER' " [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} " class="md-inputfield"
                                            [attr.maxlength]="rowItem.length" pInputText>
                                        <input type="text" *ngIf="rowItem.type === 'TEXT'" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                        <input type="number" *ngIf="rowItem.type === 'NUMBER' " (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}}  "
                                            class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                        <input type="number" *ngIf="rowItem.type === 'MULTIPLICATION' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                        <input type="number" *ngIf="rowItem.type === 'ROWAVG' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                        <input type="number" *ngIf="rowItem.type === 'MULTIPLICATION' " [attr.value]="row.row" (mouseover)="focusElement($event)" [formControlName]="rowItem.name + row.row" [id]="rowItem.name + row.row" [name]="rowItem.name + row.row" placeholder="{{'Enter' | translate}} {{rowItem.label | translate}} "
                                            class="md-inputfield" [attr.maxlength]="rowItem.length" pInputText>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.type === 'DATE' ">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>
                                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="rowItem.name + row.row" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="rowItem.name+ row.row" [id]="rowItem.name+ row.row"></p-calendar>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="rowItem.type ===  'LOOKUP'">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="rowItem.lookupOptions" [formControlName]="rowItem.name + row.row" [autoWidth]="false" [id]="rowItem.name+ row.row" [name]="rowItem.name+ row.row" (onChange)="dbLookupDropdownTable($event,pos,ind)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>
            </div>
        </div>
        <div class="ui-lg-12 ui-sm-12 ui-g-nopad border">
            <div class=" ui-sm-12 ui-lg-12 ui-g-12  showRemove" *ngFor="let item of activitytype.docTypes">
                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad borderBottom" *ngIf="item.type === 'DOCUMENT'">
                    <div class="ui-g-1 ui-lg-1 ui-sm-2 ui-g-nopad">
                        <span *ngIf="item.type === 'DOCUMENT'">
                                    <img src="assets\images\Docs-icon.png" class="topPad left" height="25px" width="25px">
                        </span>
                        <!-- <span *ngIf="converToUppercase(item.type) === 'FORM'">
                                    <img src="assets\images\forms.png" class="topPad left" height="25px" width="25px">
                        </span> -->
                    </div>
                    <div class=" ui-g-6 ui-lg-6 ui-sm-5 showRemove" *ngIf="item.type === 'DOCUMENT'">{{item.name | translate}}<sup class="redstar" *ngIf="(item.req === 1 &&  item.name !== 'Attachment') || (item.name === 'Attachment' && item.req === 1)">*</sup></div>

                    <div class=" ui-g-5 ui-lg-5 ui-sm-5 ui-g-nopad attchLeft showRemove" *ngIf="item.type === 'DOCUMENT'">
                        <div class=" ui-g-5 ui-sm-12 ui-lg-12 ui-g-nopad removeClass">

                            <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">
                                <button pButton style="margin-top: -10px" type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 0" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">
                                <input type="file"  ng2FileSelect [uploader]="globelFileUploder" (click)="tempObject(item.id , item.name)" class="upload"  (change)="inputfileChanged(item.id, item.docClass)">
                                </button>
                                <button pButton style="margin-top: -10px" type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 1" (click)="showClassProp(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">
                                        </button>

                            </div>
                            <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">

                                <button pButton style="margin-top: -10px" type="button" icon="ui-icon-collections" (click)="getRecent();tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Repository' | translate}}" class="pointer">
                                </button>
                                <!-- <i class="fa fa-database pointer iocnSize attachIconsfor" style="font-size: 17px" ngbTooltip="Repository" aria-hidden="true"></i> -->
                            </div>

                            <div class=" ui-g-2 ui-sm-4 ui-lg-2 ui-g-nopad">
                                <button pButton style="margin-top: -10px" type="button" icon="ui-icon-print" *ngIf="item.showClass === 0" (click)="scanImage(item.id, item.docClass);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer"></button>
                                <button pButton style="margin-top: -10px" type="button" icon="ui-icon-print" *ngIf="item.showClass === 1" (click)="showClassPropScan(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer">
                                </button>
                                <!-- <i class="fa fa-print pointer iocnSize attachIconsfor" style="font-size: 17px" ngbTooltip="Scan Document" (click)="scanImage(item.id , hashTwainModel);tempObject(item.id , item.name)" aria-hidden="true"></i> -->
                            </div>
                        </div>


                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-lg-12 " *ngIf="tempAttachments.length > 0 && converToUppercase(item.type) !== 'FORM'">
                        <table>
                            <tbody>
                                <!-- {{tempAttachments[0].docTitle}} -->
                                <tr class="showRemove" *ngFor="let fileObject of tempAttachments">
                                    <td width="90% ;word-break: break-all;" style="word-break: break-all;" *ngIf="parseInt(fileObject.docType.id) === item.id">
                                        {{fileObject.docTitle}}
                                    </td>
                                    <td class="text-center removeClass" width="10% " *ngIf="parseInt(fileObject.docType.id) === item.id">
                                        <button pButton="pButton" type="button" icon="fa-close" (click)="removeAttachments(fileObject)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="ui-md-12 ui-sm-12" *ngIf="readOnly !== 'true'">
            <div class=" ui-g-12 ui-lg-12 ui-sm-12  text-center ui-md-12 ui-sm-12">
                <div class="ui-g-12 ui-lg ui-sm text-center">
                    <div class="ui-lg-3 ui-g-12 ui-sm-4"></div>
                    <div class="ui-lg-2  ui-g-12 ui-sm-2">
                        <!-- <button pButton type="button" label="{{ 'Cancel' | translate }}" (click)="cancelForm()" icon="ui-icon-cancel" class="width"></button> -->
                    </div>
                    <div class="ui-lg-2  ui-g-12 ui-sm-2" *ngIf="submitButton">
                        <button pButton type="submit" label="{{'Next' | translate }}" *ngIf="activitytypeName === 'CREATE'" [disabled]="!dynamicform.valid" icon="ui-icon-save" class="wrapperCenter"></button>
                        <button pButton type="submit" label="{{'Save' | translate }}" *ngIf="activitytypeName === 'ACTIVITY'" [disabled]="!dynamicform.valid" icon="ui-icon-save" class="wrapperCenter"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

</form>


<ngx-smart-modal #hashTwainModel identifier="hashTwainModel" (onClose)="websocketNotOpen = false">
    <h3>{{ 'Hash Twain' | translate }}</h3>
    <p> We request you to download Hash Twain Software,
        <a href="assets/HashTwain/HashTwain Setup.msi "> Click here to download</a></p>
</ngx-smart-modal>
<ngx-smart-modal #documentAddRepository identifier="documentAddRepository">
    <h3>{{ 'Attachments' | translate }}</h3>
    <div class="ui-g-12 ui-g-nopad">
        <p-tabView>
            <p-tabPanel header="Recent Documents" leftIcon="ui-icon-check">
                <div style="max-height: 400px;overflow-y: scroll">
                    <app-recent-documents [sysDate]="systemDate" (fileList)="documentSearchList($event)"></app-recent-documents>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Repository Documents" leftIcon="ui-icon-check">
                <app-document-search (fileList)="documentSearchList($event)"></app-document-search>
            </p-tabPanel>
        </p-tabView>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button pButton type="button" label="{{'Close' | translate }}" (click)="documentAddRepository.close()"></button>
            <button pButton type="submit" label="{{'Add' | translate }}" (click)="documentAddRepository.close(); attachRepDoc();"></button>
        </div>
    </p-footer>

</ngx-smart-modal>