.ui-inputtext {
    width: 100% !important;
}

.redstar {
    color: red;
}

.wrapperCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .global-sales table tbody tr {
    border-top: 0px solid #dbdbdb !important;
}

.heading {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
}

.header_color {
    background: #246275;
    height: 40px;
}

label {
    font-weight: bold;
}

.wrapperCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width {
    width: 120px;
}

.bgColor {
    background: #246275;
    border-color: #246275;
    color: #fff;
}

.form-control {
    background: #fff;
}

.colorblue {
    color: #246275;
}

.file_button_container,
.file_button_container input {
    height: 47px;
    width: 263px;
}

.file_button_container {
    background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
}

.file_button_container input {
    opacity: 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.dashtab {
    height: 35px;
    color: #fff;
    background: #246275;
    text-align: center;
    width: 100%;
    margin-top: -10px;
}

label {
    font-weight: bold;
    margin-top: 5px;
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bgColor {
    background: #246275;
    border-color: #246275;
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.redstar {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}

.font {
    font-size: 18px
}

.back_color {
    color: #fff;
    margin-top: 7px;
    font-size: 20px;
    float: left;
}

.dashtab1 {
    height: 35px;
    color: #fff;
    background: #246275;
    text-align: center;
    width: 100%;
    margin-top: -10px;
    margin-left: 7px;
}

my-date-picker {
    padding: 0px;
}

.green {
    color: green;
    font-size: 22px;
    padding-top: 2px;
}

.times {
    color: red;
    opacity: 0.7;
    font-size: 22px;
    padding-top: 2px;
}

.page-loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #000;
    transition: opacity 1s ease-in-out;
    opacity: 0.6;
    z-index: 999999;
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-left: -19px;
    margin-top: -19px;
}

.border {
    border: 1px solid #ccc;
    min-height: 43px;
    padding-bottom: 0 !important;
}

.redremove {
    color: red;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 9%;
}

.left {
    margin-left: 10px;
}

.ui-inputtext {
    width: 100% !important;
}

.ui-button.ui-button-icon-only,
body .ui-datepicker-buttonpane>button.ui-button-icon-only {
    margin-top: 3%;
}

.toDoLeft {
    padding-left: 0 !important;
}

.attchLeft {
    /* padding-left: 7px !important; */
    float: right;
}

.c-token {
    background: #246275 !important;
    color: #efecec !important;
}

.backgroundColor {
    background-color: #246275 !important;
}

input.upload {
    position: absolute;
    z-index: 9999999999999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
}

.remove {
    margin-left: -2.25%;
    margin-top: -1%;
}

.ui-panel .ui-panel-content {
    display: none !important;
}

.ui-widget-content {
    background-color: #ffffff;
    border: 1px solid #804c4c;
}

.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token {
    margin-right: 3% !important;
}

.redStar {
    color: red;
}


/* .pure-checkbox input[type="checkbox"]+label:after {
    border-color: #000 !important;
} */

.large-modal {
    max-width: none !important;
}


/* .borderBottom {
    border-bottom: 1px solid #ccc;
} */

.attachBtn {
    margin-bottom: 10% !important;
    margin-top: -7% !important;
}