<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}" (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a routerLink="/services" *ngIf="previewLogo !== ''" (click)="clicked('services')">
            <img alt="logo" [src]="previewLogo" style="width: 190px;height: 40px; padding-top: 5px;" />
            <!-- <span class="app-name">{{'Productiviti' | translate }} </span> -->
            <span class="app-name">{{'Pistaceo' | translate }} </span>
        </a>
        <a routerLink="/services" *ngIf="previewLogo === ''" (click)="clicked('services')">
            <!-- <img alt="logo" [src]="previewLogo" style="width: 190px;height: 40px; padding-top: 5px;" /> -->
            <img alt="logo" src="assets/images/logos/favicon.png" style="width: 40px;height: 40px;padding-top: 5px;" />
            <span class="app-name">{{'Pistaceo' | translate }} </span>
            <!-- <span class="app-name">{{'Productiviti' | translate }} </span> -->
        </a>
        <a class="sidebar-anchor" title="Toggle Menu" (click)="app.onToggleMenuClick($event)"></a>
    </div>

    <div #layoutMenuScroller class="nano">
        <div class="nano-content sidebar-scroll-content" style="margin-right: -10px;">
            <div class="layout-menu-container" (click)="updateNanoScroll()">
                <!-- <ul app-submenu [item]="model" root="true" class="layout-menu" visible="true" [reset]="reset"></ul> -->
                <div class="ui-g-12 ui-g-nopad card sideMenuProps pointer" [ngClass]="selectedId === 'home'? 'selectedItems' : ''" (click)="clicked('home')">
                    <div class="ui-g-10 ui-g-nopad">
                        <label>New Ticket</label>
                    </div>
                    <div class="ui-g-2 ui-g-nopad">
                        <i class="material-icons ui-icon-dashboard"></i>
                    </div>
                </div>
                <div class=" ui-g-12 ui-g-nopad card sideMenuProps pointer" [ngClass]="selectedId === 'services' ? 'selectedItems' : ''" (click)="clicked('services')">
                    <div class="ui-g-10 ui-g-nopad">
                        <label>My Tickets</label>
                    </div>
                    <div class="ui-g-2 ui-g-nopad">
                        <i class="material-icons ui-icon-room-service"></i>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad card sideMenuProps pointer" [ngClass]="selectedId === 'inbox' ? 'selectedItems' : '' " (click)="clicked('inbox')">
                    <div class="ui-g-10 ui-g-nopad">
                        <label>My To-Do</label>
                    </div>
                    <div class="ui-g-2 ui-g-nopad">
                        <i class="material-icons ui-icon-archive"></i>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad card sideMenuProps pointer " [ngClass]="selectedId === 'advancedsearch' ? 'selectedItems': ''" (click)="clicked('advancedsearch')">
                    <div class="ui-g-10 ui-g-nopad">
                        <label>Search</label>
                    </div>
                    <div class="ui-g-2 ui-g-nopad">
                        <i class="material-icons ui-icon-search"></i>
                    </div>
                </div>
                <!-- <div class="ui-g-12 ui-g-nopad card sideMenuProps pointer" [ngClass]="selectedId === 'sent' ? 'selectedItems' : ''" (click)="clicked('sent')">
                    <div class="ui-g-10 ui-g-nopad">
                        <label>My Requests</label>
                    </div>
                    <div class="ui-g-2 ui-g-nopad">
                        <i class="material-icons ui-icon-email"></i>
                    </div>
                </div> -->
            </div>
            <a class="nav-link buttonStrip" style="font-size: 10px; margin-left: -200px;">
                <span (click)="officialWebsite()" class="ff-headers footerValue pointer">{{'Copyright' | translate}} &copy; {{'HashECM 2018-19' | translate}}</span>
            </a>
        </div>
    </div>
</div>