.footerValue {
    color: #fff !important;
    margin-left: 3.3%;
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-name {
    font-size: 21px !important;
}

.sideMenuProps {
    margin-top: 1%;
    padding-top: 20px;
    height: 70px;
    font-size: 17px;
    padding-left: 4px;
}

.selectedItems {
    background: #7CB342;
    color: #fff;
    font-weight: bold;
}