<div class="ui-g dashboard ui-g-nopad" id="myP" (contextmenu)="mouseDown($event)">
    <!-- (mousedown)="mouseDown($event)" -->
    <div class="ui-g-12 ui-lg-12 messages ui-g-nopad">
        <!-- <div class="ui-g-12 ui-md-12 ui-g-nopad" *ngIf="viewType !== 'activityScreen'">
            <div class="ui-g card " style="padding: 0 ; height: 55px;">
                <div class="ui-g-12 ">
                    <div class="ui-g-12">
                        <div class="ui-g-10 ui-md-10 ui-g-nopad">
                            <button class="ui-g-nopad" pButton type="button" icon="ui-icon-arrow-back" (click)="backButtonClicked()"></button>
                            <span for=""> {{'Annotation' | translate}}</span>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-g-nopad">
                            <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div *ngIf="imageToShow !== '' ">
            <div class="ui-g" id="imageAnnotation" *ngIf="imageAnnotationDisplay" class="pointer" (contextmenu)="cm.show($event)">
                <p-toolbar>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-1 ui-md-1 ui-sm-12 ui-g-nopad" *ngIf="showPropBack === 'true'">
                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Show Properties' | translate}}" icon="ui-icon-arrow-back" (click)="goToProperties()" class="btn-primary"></button>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-g-nopad">
                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Annotation list' | translate}}" icon="ui-icon-format-list-bulleted" (click)="listOfannotationOnDocument()" class="pink-btn"></button>
                            <button pButton type="button" *ngIf="signatureIsEmpty" (click)="saveImageAnnotation()" icon="ui-icon-save" tooltipPosition="top" pTooltip="{{'Save annotation' | translate}}" class="orange-btn"></button>
                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Clear' | translate}}" *ngIf="signatureIsEmpty" (click)="clearSignaturepad()" icon="ui-icon-clear" class="green-btn"></button>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-6 ui-md-6 ui-sm-12 ui-g-nopad">
                                <h3 style="margin: 10px;">
                                    <label for=""> {{ 'Annotation by' | translate }} </label>
                                </h3>
                            </div>
                            <div class="ui-g-6 ui-md-6 ui-sm-12 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <!-- <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown> -->
                                            <p-dropdown class="ui-g-12" [options]="usernamedropdownImage" (onChange)="userDropdownImageChange()" [(ngModel)]="userSelected"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-6 ui-g-nopad">
                                <h3 style="margin: 10px; float: right;">
                                    <label for=""> {{ 'Type' | translate }} </label>
                                </h3>
                            </div>
                            <div class="ui-g-6 ui-md-6 ui-sm-6 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown>
                                            <!-- <p-dropdown class="ui-g-12" [options]="usernamedropdownImage" (onChange)="userDropdownImageChange()" [(ngModel)]="userSelected"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-md-2 ui-sm-6 ui-g-nopad right" *ngIf="viewType === 'activityScreen'">
                                <button pButton type="button" label="Complete" (click)="annotationComplete()"></button>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-sm-12 ui-g-nopad right" *ngIf="showAddSignDropOptions && (showSignatureOptions === 'application/pdf')">
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <!-- <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown> -->
                                            <p-dropdown class="ui-g-12" [options]="addSignOptions" (onChange)="addSignChanged($event)" [(ngModel)]="selectedSigned"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-toolbar>
                <div class="ui-g-12">
                    <p-paginator #ppaginatoro [rows]="1" [first]="PaginatorcurrentPage" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
                    <p-contextMenu #cm [model]="imageContext" [style]="{'width':'15.5em'}"></p-contextMenu>
                    <app-signature-pad class="border" style="margin: -3px;" #signature [backgroundImages]="imageannotationURL" [disabled]="signatureDisabled" (onEndEvent)="drawComplete()" [canvasWidth]="canvasWidth" [canvasHeight]="1500"></app-signature-pad>
                </div>
            </div>
            <div class="ui-g-12" id="textAnnotation" *ngIf="textAnnotationDisplay" class="pointer" (contextmenu)="cm.show($event)">
                <p-toolbar>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-1 ui-md-1 ui-sm-12 ui-g-nopad" *ngIf="showPropBack === 'true'">
                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Show Properties' | translate}}" icon="ui-icon-arrow-back" (click)="goToProperties()" class="btn-primary"></button>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-4 ui-g-nopad">
                                    <button pButton type="button" tooltipPosition="top" pTooltip="{{'Annotation list' | translate}}" icon="ui-icon-format-list-bulleted" (click)="listOfannotationOnDocument()" class="pink-btn"></button>
                                </div>
                                <div class="ui-g-4 ui-g-nopad dropdown">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <button pButton type="button" tooltipPosition="top" pTooltip="{{'New annotation' | translate}}" (click)="showSubMenu = !showSubMenu" icon="ui-icon-add" class="green-btn"></button>
                                    </div>
                                    <div class="ui-g-12 ui-g-nopad dropdown-content" *ngIf="showSubMenu">
                                        <a class="titleTopBar">
                                            <span style="background-color: none">New Annotation</span>
                                        </a>
                                        <a (click)="downloadThisdocument(); showSubMenu = false">
                                            <span>
                                            <div class="ui-g-12 ui-g-nopad">
                                                <div class="ui-g-2 ui-g-nopad">
                                                    <i class="material-icons ui-icon-file-download"></i>
                                                </div>
                                                <div class="ui-g-10 ui-g-nopad">
                                                    Download
                                                </div>
                                            </div>
                                        </span>
                                        </a>
                                        <a (click)="downloadannotedDoc(); showSubMenu = false">
                                            <span>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <div class="ui-g-2 ui-g-nopad">
                                                        <i class="material-icons ui-icon-file-download"></i>
                                                    </div>
                                                    <div class="ui-g-10 ui-g-nopad">
                                                      With Annotation
                                                    </div>
                                                </div>
                                            </span>
                                        </a>
                                        <a *ngIf="documentType === 'annotate'" (click)="addTextAnnotationFromTop(1.39, 2.78); showSubMenu = false">
                                            <span>
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <div class="ui-g-2 ui-g-nopad">
                                                            <i class="material-icons ui-icon-note"></i>
                                                        </div>
                                                        <div class="ui-g-10 ui-g-nopad">
                                                          Add Annotation
                                                        </div>
                                                    </div>
                                                </span>
                                        </a>
                                        <a *ngIf="documentType === 'annotate' && this.showSignatureOptions === 'application/pdf'" (click)="mouseDownFromTop($event); addSignHolder($event); showSubMenu = false">
                                            <span>
                                                        <div class="ui-g-12 ui-g-nopad">
                                                            <div class="ui-g-2 ui-g-nopad">
                                                                <i class="material-icons ui-icon-person"></i>
                                                            </div>
                                                            <div class="ui-g-10 ui-g-nopad">
                                                                    Add Sign Holder
                                                            </div>
                                                        </div>
                                                    </span>
                                        </a>
                                        <a *ngIf="documentType === 'annotate' && this.showSignatureOptions === 'application/pdf'" (click)="mouseDownFromTop($event); addStampModel(1.39, 2.78); showSubMenu = false">
                                            <span>
                                                        <div class="ui-g-12 ui-g-nopad">
                                                            <div class="ui-g-2 ui-g-nopad">
                                                                <i class="material-icons ui-icon-bookmark"></i>
                                                            </div>
                                                            <div class="ui-g-10 ui-g-nopad">
                                                                Add Stamp
                                                            </div>
                                                        </div>
                                                    </span>
                                        </a>

                                    </div>
                                </div>
                                <div class="ui-g-4 ui-g-nopad">
                                    <button pButton type="button" (click)="saveTextAnnotation()" *ngIf="blocks.length > 0" icon="ui-icon-save" tooltipPosition="top" pTooltip="Save" class="orange-btn"></button>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-g-nopad">
                            <!-- <div class="ui-g-3 ui-md-3 ui-sm-3 ui-g-nopad">
                                <h3 style="margin: 10px;">
                                    <label for=""> {{ 'Status' | translate }} </label>
                                </h3>
                            </div>
                            <div class="ui-g-3 ui-md-3 ui-sm-3 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p-dropdown class="ui-g-12" [options]="annotationStatusdropdownText" (onChange)="statusDropdownChange()" [(ngModel)]="statusSelected"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="ui-g-5 ui-md-5 ui-sm-12 ui-g-nopad">
                                <h3 style="margin: 10px;">
                                    <label for=""> {{ 'Annotation by' | translate }} </label>
                                </h3>
                            </div>
                            <div class="ui-g-5 ui-md-5 ui-sm-12 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <!-- <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown> -->
                                            <p-dropdown class="ui-g-12" [options]="usernamedropdownText" (onChange)="userDropdownChange()" [(ngModel)]="userSelected"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4 ui-md-4 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-4 ui-md-3 ui-sm-12 ui-g-nopad">
                                <h3 style="margin: 10px; float: right;">
                                    <label for=""> {{ 'Type' | translate }} </label>
                                </h3>
                            </div>
                            <div class="ui-g-5 ui-md-6 ui-sm-12 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown>
                                            <!-- <p-dropdown class="ui-g-12" [options]="usernamedropdownImage" (onChange)="userDropdownImageChange()" [(ngModel)]="userSelected"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-md-3 ui-sm-12 ui-g-nopad right" *ngIf="viewType === 'activityScreen'">
                                <button pButton type="button" label="Complete" (click)="annotationComplete()"></button>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-sm-12 ui-g-nopad right" *ngIf="showAddSignDropOptions && (showSignatureOptions === 'application/pdf')">
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <!-- <p-dropdown class="ui-g-12 ui-md-12" [options]="annotationList" [style]="{'float':'right'}" (onChange)="annotationTypeChanged()" [(ngModel)]="annotationTypeSelected"></p-dropdown> -->
                                            <p-dropdown class="ui-g-12 left" [options]="addSignOptions" (onChange)="addSignChanged($event)" [(ngModel)]="selectedSigned"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-toolbar>
                <div class="ui-g-12 ui-g-nopad">
                    <p-paginator #ppaginatort [rows]="1" [first]="PaginatorcurrentPage" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
                    <p-contextMenu #cm [model]="textContext" [style]="{'width':'15.5em'}" id="contextId"></p-contextMenu>
                    <div class="ui-g-12 ui-g-nopad" id="myImage">
                        <img class="ui-g-12  ui-g-nopad" [src]="imageToShow" #myBounds style="border: 2px solid;">
                    </div>
                    <div *ngFor="let block of blocks">
                        <div *ngIf="block.type ==='TEXT'">
                            <div *ngIf="block.page === currentPage" ngDraggable class="drag-block" [position]="{x: block.pageWidthX, y: block.pageHeightY}" (stopped)="onStop($event , block.id)" (movingOffset)="onMoving($event)" [preventDefaultEvent]="false" (endOffset)="onMoveEnd($event,  block.id)"
                                [bounds]="myBounds" [inBounds]="inBounds">
                                <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                    <div class="ng-sticky-item-header">
                                        <button pButton type="button" icon="fa-close" (click)="removeAnnotation(block.id)"></button>
                                        <!-- <button type="button" (click)="removeAnnotation(block.id)" class="remove ng-sticky-notes-button"><i class="fa fa-remove"></i></button> -->
                                    </div>
                                    <div class="ng-sticky-item-content">
                                        <p class="ng-hide">
                                            <textarea [name]="block.id" placeholder="Enter comment" [id]="block.id" cols="30" rows="4" [value]="block.text" (input)="annotationText($event , block.id )"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="block.type ==='SIGN'">
                            <div *ngIf="block.page === currentPage" ngDraggable class="drag-block" [position]="{x: block.pageWidthX, y: block.pageHeightY}" (stopped)="onStop($event , block.id)" (movingOffset)="onMoving($event)" [preventDefaultEvent]="false" (endOffset)="onMoveEnd($event,  block.id)"
                                [bounds]="myBounds" [inBounds]="inBounds">
                                <div class="ui-g-12 ui-g-nopad" style="background: rgb(244, 244, 14);height: 75px; padding: 0; width: 120px">
                                    <!-- <button pButton type="button" (click)="removeAnnotation(block.id)"><i class="fa fa-remove"></i></button> -->
                                    <button pButton type="button" class="removeSignPlace" icon="fa-close" (click)="removeAnnotation(block.id)"></button>
                                    <textarea class="placeholder" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="block.text" readonly></textarea>
                                </div>

                            </div>
                        </div>
                        <div *ngIf="block.type ==='STAMP'">
                            <div *ngIf="block.page === currentPage" ngDraggable class="drag-block" [position]="{x: block.pageWidthX, y: block.pageHeightY}" (stopped)="onStop($event , block.id)" (movingOffset)="onMoving($event)" [preventDefaultEvent]="false" (endOffset)="onMoveEnd($event,  block.id)"
                                [bounds]="myBounds" [inBounds]="inBounds">
                                <div class="ui-g-12 ui-g-nopad" style="background: rgb(116, 140, 210);height: 75px; padding: 0; width: 120px">
                                    <!-- <button pButton type="button" (click)="removeAnnotation(block.id)"><i class="fa fa-remove"></i></button> -->
                                    <button pButton type="button" class="removeSignPlace" icon="fa-close" (click)="removeAnnotation(block.id)"></button>
                                    <textarea class="placeholderStamp" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="block.text" readonly></textarea>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- <div *ngFor="let block of signedList"> -->

                    <!-- </div> -->
                    <div *ngFor="let block of allSavedAnnotaion">
                        <div *ngIf="userSelected === '' && statusSelected === '' ">
                            <div *ngIf="block.pageNo === currentPage" ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                <div class="row" *ngIf="block.type === 'COMMENT'">
                                    <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                        <div class="ng-sticky-item-header">
                                            <!-- <button pButton type="button" icon="fa-close" (click)="removeAnnotation(block.id)"></button> -->

                                            <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                            <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                        </div>
                                        <br>
                                        <div class="ng-sticky-item-content">
                                            <p class="ng-hide">
                                                <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                            </p>
                                        </div>
                                        <div class="ng-sticky-item-footer">
                                            <p>
                                                -{{block.userName}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="block.type === 'SIGN'">
                                    <div class="ui-g-12 ui-g-nopad" style="background: rgb(244, 244, 14);height: 50px; padding: 0;">
                                        <textarea class="placeholder" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="block.comment" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row" *ngIf="block.type === 'STAMP'">
                                    <div class="ui-g-12 ui-g-nopad" style="background: rgb(116, 140, 210);height: 50px; padding: 0;">
                                        <textarea class="placeholderStamp" [name]="block.id" [id]="block.id" cols="30" rows="3" [value]="block.comment" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="userSelected !== ''  && statusSelected === '' ">
                            <div *ngIf="block.userName === userSelected || block.status === statusSelected">
                                <div>
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="statusSelected !== '' &&  userSelected === '' ">
                            <div *ngIf="block.userName === userSelected || block.status === statusSelected">
                                <div>
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="userSelected !== '' && statusSelected !== '' ">
                            <div *ngIf="block.userName === userSelected ">
                                <div *ngIf="block.status === statusSelected">
                                    <div *ngIf="block.pageNo === currentPage " ngDraggable class="drag-block savedannotation" [trackPosition]="false" [position]="{x: ((block.xPos * (this.imageDivX / previewImage.width)) + addX), y: ((block.yPos * (this.imageDivY / previewImage.height)) + addY)}">
                                        <div class="row" *ngIf="block.type === 'COMMENT'">
                                            <div class="ng-sticky-item" ng-style="getStyle()" style="background: rgb(255, 255, 204);">
                                                <div class="ng-sticky-item-header" *ngIf="block.status ==='ACTIVE'">
                                                    <button type="button" pButton *ngIf="block.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'" (click)="completeannotation(block)" label="{{'Delete' | translate}}"></button>
                                                    <button type="button" pButton *ngIf="block.status !=='ACTIVE'" icon="fa-check"></button>
                                                </div>
                                                <br>
                                                <div class="ng-sticky-item-content">
                                                    <p class="ng-hide">
                                                        <textarea cols="30" rows="5" [value]="block.comment" readonly></textarea>
                                                    </p>
                                                </div>
                                                <div class="ng-sticky-item-footer">
                                                    <p>
                                                        -{{block.userName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12  ui-g-nopad">
                <p-paginator #ppaginatorth [rows]="1" [first]="PaginatorcurrentPage" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
        <!-- <div id="spinner" class="lds-roller" *ngIf="imageToShow === '' && viewType !== 'activityScreen'">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div> -->
    </div>
</div>

<ngx-smart-modal #annotationModelList identifier="annotationModelList">
    <h3>{{ 'Annotation list' | translate }}</h3>
    <div class="dashboard listto" style="max-height: 450px;overflow-y: auto">
        <div class="global-sales">
            <table class="ui-g-12">
                <thead>
                    <tr>
                        <td>

                        </td>
                        <td>
                            {{'User Name' | translate}}
                        </td>
                        <td>
                            {{'Comment' | translate}}
                        </td>
                        <td>
                            {{'Type' | translate}}
                        </td>
                        <td>
                            {{'Page Number' | translate}}
                        </td>
                        <td>

                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation; let i = index" (click)="documnetAnnoation(annotation.pageNo , annotation.type);annotationListModel = false;">
                        <td>
                            {{i +1 }}
                        </td>
                        <td>
                            {{annotation.userName}}
                        </td>
                        <td>
                            {{annotation.comment}}
                        </td>
                        <td>
                            {{annotation.type}}
                        </td>
                        <td>
                            {{annotation.pageNo}}
                        </td>
                        <td class="removeClass">
                            <button type="button" pButton icon="ui-icon-visibility" (click)="documnetAnnoation(annotation.pageNo , annotation.type);annotationListModel = false;"></button>
                            <button type="button" pButton icon="ui-icon-close" (click)="deleteAnnotation(annotation);"></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #signHolder identifier="signHolder">
    <h3>{{ 'Add Role' | translate }}</h3>
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class=" ui-grid-row ">
                <div class="ui-grid-col-12 dropdownTop">
                    <!-- <p-dropdown [options]="showRoles" [autoWidth]="false" [(ngModel)]="selectedRole" filter="true" optionLabel="label" placeholder="Select Role" (onChange)="roleNamechanged($event)"></p-dropdown> -->
                    <p-autoComplete [multiple]="false" placeholder="{{'Please Select Role' | translate }}" [(ngModel)]="selectedRole" field="name" [suggestions]="showRoles" searchtext="searchtext" [dropdown]="true" (completeMethod)="roleNamechanged($event)"></p-autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-4 ui-g-nopad"></div>
            <div class="ui-g-8 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="signHolder.close(); selectedSigned = 'select'">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addRole()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">Add</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #addSignaturePad identifier="addSignaturePad" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Add Signature' | translate }}</h3>

        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="closeSignModal($event)"></button>
            <!-- <i class="fa-close" (onClose)="closeSignModal($event)"> </i> -->
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <div class="ui-g-12 ui-g-nopad">
            <app-signature-pad #signatureSignAdd [canvasWidth]="460" [canvasHeight]="300" (onEndEvent)="AddSignComplete($event)"></app-signature-pad>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class=" ui-g-12  ui-g-nopad">
                <div class="ui-g-3 "></div>
                <div class="ui-g-4 ui-g-nopad text-right ">

                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="clearSignature();">
                                    <span class="ui-button-icon-left fa fa-close"></span>
                                    <span class="ui-button-text">Clear</span>
                                </button>

                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="savesignature()">
                                <span class="ui-button-icon-left fa fa-check"></span>
                                <span class="ui-button-text">Add</span>
                            </button>
                </div>
            </div>
        </div>
        <!-- <signature-pad id="digitalsign" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" [canvasWidth]="100" (onEndEvent)="drawComplete($event)"></signature-pad> -->
    </div>
    <!-- <div class="modal-footer text-center">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-4 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addSignaturePad.close();clearSignature();">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="savesignature()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">Add</span>
                    </button>
            </div>
        </div>
    </div> -->
</ngx-smart-modal>
<ngx-smart-modal #isAddExistingSignature identifier="isAddExistingSignature" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Confirmation' | translate }}</h3>
        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="closeConfirmed($event)"></button>
            <!-- <i class="fa-close" (onClose)="closeSignModal($event)"> </i> -->
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <label>{{'The system will sign the document page with your saved signature. Want to proceed?' | translate}}</label>
    </div>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-4 ui-g-nopad"></div>
            <div class="ui-g-8 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="isAddExistingSignature.close(); selectedSigned = 'select'">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addedExistingSignature()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">YES</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #addStampOptionsAlert identifier="addStampOptionsAlert" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Add Stamp' | translate }}</h3>
        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="addStampOptionsAlert.close(); customtextValue = ''; stampSelectedName = ''"></button>
            <!-- <i class="fa-close" (onClose)="closeSignModal($event)"> </i> -->
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="stampOptionsForTopBar.length > 0">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p-dropdown [options]="stampOptionsForTopBar" placeholder="Select" [(ngModel)]="stampSelectedName" [autoWidth]="false" id="stamp" (onChange)="stamDropChanged($event)"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui-g-12 ui-g-nopad top10" *ngIf="stampSelectedName === 'customText'">
            <textarea pInputTextarea type="text" id="custtext" [(ngModel)]="customtextValue" placeholder="{{'Enter Custom Text' | translate}} " rows="3" cols="69"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-4 ui-g-nopad"></div>
            <div class="ui-g-8 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addStampOptionsAlert.close(); customtextValue = ''; stampSelectedName = '';">
                            <span class="ui-button-icon-left fa fa-close"></span>
                            <span class="ui-button-text">No</span>
                        </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addStampFromAlert();" [disabled]="(stampSelectedName === '') || (stampSelectedName === 'customText' && customtextValue === '')">
                            <span class="ui-button-icon-left fa fa-check"></span>
                            <span class="ui-button-text">YES</span>
                        </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #addStampContxtAlert identifier="addStampContxtAlert" [escapable]="false" [dismissable]="false" [closable]="false">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10 ui-g-nopad">
            <h3>{{ 'Add Custom Text' | translate }}</h3>
        </div>
        <div class="ui-g-2 ui-g-nopad right">
            <button pButton type="button" icon="fa-close" (click)="addStampContxtAlert.close(); "></button>
            <!-- <i class="fa-close" (onClose)="closeSignModal($event)"> </i> -->
        </div>
    </div>
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <div class="ui-g-12 ui-g-nopad top10">
            <textarea pInputTextarea type="text" id="custtext" [(ngModel)]="custmFromContxt" placeholder="{{'Enter Custom Text' | translate}} " rows="3" cols="69"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <br>
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-4 ui-g-nopad"></div>
            <div class="ui-g-8 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addStampContxtAlert.close(); custmFromContxt = '';">
                                <span class="ui-button-icon-left fa fa-close"></span>
                                <span class="ui-button-text">No</span>
                            </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="saveCustFrmContxt();" [disabled]="custmFromContxt === ''">
                                <span class="ui-button-icon-left fa fa-check"></span>
                                <span class="ui-button-text">YES</span>
                            </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>