<div class="login-body" *ngIf="isLogin">
    <div class="login-panel ui-fluid">
        <!-- <div class="login-panel-header">
        </div> -->
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-8 ui-md-8 ui-sm-8">
                        <img height="100px" src="assets/images/logos/logo.png">
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text"  pInputText class="ui-inputtext ui-corner-all ui-widget" [formControl]="form.controls['uname']" [ngClass]="{'ng-dirty ng-invalid': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" required (keypress)="signTyped()" >
                            <label>Username</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">
                            Username is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="password" pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="form.controls['password']" [ngClass]="{'ng-dirty ng-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}" required >
                            <label>Password</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="capsOn">WARNING! Caps lock is ON.</div>

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" [disabled]="!form.valid">
                            <span class="ui-button-icon-left fa ui-icon-person"></span>
                            <span class="ui-button-text">Sign In</span>
                        </button>
                        <div class="ui-g-12 text-center">
                            Not a member? <a (click)="clikcedOnRegister()" class="pointer">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="login-body" *ngIf="!isLogin">
    <div class="login-panel ui-fluid">
        <!-- <div class="login-panel-header">
            </div> -->
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-8 ui-md-8 ui-sm-8">
                        <img height="100px" src="assets/images/logos/logo.png">
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(form)">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                                <input type="text"  pInputText class="ui-inputtext ui-corner-all ui-widget" [formControl]="registerForm.controls['name']" [ngClass]="{'ng-dirty ng-invalid': registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched}" required  >
                                <label>Name</label>
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched">
                                Name is required.
                                </div>
                            </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                                <input type="email" pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="registerForm.controls['email']" [ngClass]="{'ng-dirty ng-invalid': registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$">
                                <label>Email</label>
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
                                    Email is required.
                                </div>
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerForm.controls['email'].hasError('pattern')">
                                    Email is not valid.
                                </div>
                            </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                                    <input type="number"  pInputText class="ui-inputtext ui-corner-all ui-widget" [formControl]="registerForm.controls['mobile']" [ngClass]="{'ng-dirty ng-invalid': registerForm.controls['mobile'].hasError('required') && registerForm.controls['mobile'].touched}" required  >
                                    <label>Mobile</label>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerForm.controls['mobile'].hasError('required') && registerForm.controls['mobile'].touched">
                                        mobile number is required.
                                    </div>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerForm.controls['mobile'].hasError('min') || registerForm.controls['mobile'].hasError('max')">
                                        invalid mobile number.
                                    </div>
                                </span>
                    </div>
                    <div class="ui-g-12">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" [disabled]="!registerForm.valid">
                                <span class="ui-button-icon-left fa ui-icon-person-add"></span>
                                <span class="ui-button-text">Sign Up</span>
                            </button>
                        <div class="ui-g-12 text-center">
                            Already a member? <a (click)="clickedOnSignin()" class="pointer">Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="spinner" class="splash-screen ">
    <div class="splash-loader-container ">
        <svg class="splash-loader " width="65px " height="65px " viewBox="0 0 66 66 " xmlns="http://www.w3.org/2000/svg ">
               <circle class="path " fill="none " stroke-width="6 " stroke-linecap="round " cx="33 " cy="33 " r="30 "></circle>
            </svg>
    </div>
</div>