<div class="ui-g ui-g-12">
    <div class="ui-g-12 card minHeight">
        <!-- <div class="ui-g-12 ui-g-nopad borderBellow">
            <div class="ui-g-1">
                <i class="material-icons ui-icon-room-service"></i>
            </div>
            <div class="ui-g-11">
                <b>Avialble Services</b>
            </div>
        </div>
        <div class="" *ngIf="!services">
            <span>  No data avaliable </span>
        </div>
        <div class="" *ngIf="services">
            <div class=" ui-g ui-g-12 ui-g-nopadd underline pointer" *ngFor="let service of services" (click)="openCreate(service)">
                <div class="ui-lg-1 ui-g-nopad">
                    <i class="material-icons ui-icon-edit"></i>
                </div>
                <div class="ui-lg-11 ui-g-nopad">
                    <label> {{service.name}}</label>
                </div>
            </div>
        </div> -->
        <p-dataTable [value]="services" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="editTickets($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="refNo" header="{{'Ticket No' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="subject" header="{{'Subject' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="createdOn" header="{{'Created On' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="pendingWith" header="{{'Pending With' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}" [filter]="true"></p-column>
        </p-dataTable>
    </div>
</div>


<ngx-smart-modal #historyAlert identifier="historyAlert" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder margin0">History</h4>
    </div>
    <div class="modal-body top10">
        <div class="ui-g-12 ui-g-nopad borderBellow" *ngIf="historyItems.length > 0">
            <div class="ui-g-2 ui-g-nopad">
                <b>{{ 'Activity Type' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action by' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Action On' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b> {{ 'Pending with' | translate }}</b>
            </div>
            <div class="ui-g-2 ui-g-nopad">
                <b>  {{ 'Description' | translate }}</b>
            </div>
        </div>
        <div class="" *ngIf="historyItems.length === 0">
            <b>  No data avaliable </b>
        </div>
        <div class="" *ngIf="historyItems.length > 0">
            <div class=" ui-g ui-g-12 ui-g-nopadd underline pointer" *ngFor="let service of historyItems">
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.activityType}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.userName}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.action}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.actionOn}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.pendingWith}}</label>
                </div>
                <div class="ui-lg-2 ui-g-nopad">
                    <label> {{service.details}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-10 ui-g-nopad"></div>
            <div class="ui-g-2 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="historyAlert.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">Close</span>
                </button>
                <!-- <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="historyAlert.close();">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button> -->
            </div>
        </div>
    </div>
</ngx-smart-modal>