.borderBellow {
    border-bottom: 1px solid #ccc;
}

.underline {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.underline:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
}

.pointer {
    cursor: pointer;
}

.minHeight {
    min-height: 630px;
    max-height: 630px;
    overflow-y: auto;
    overflow-x: hidden;
}